<!DOCTYPE html>
<html>
  <head>
    <title>PocCachingLayersRor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>                
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="<%= in_memory_cache_path %>">In-Memory Cache</a></li>
        <li><a href="<%= browser_cache_indefinite_path %>">Browser Cache Indefinite</a></li>
        <li><a href="<%= browser_cache_indefinite_with_tracker_path %>">Browser Cache Indefinite With Tracker</a></li>
        <li><a href="<%= browser_cache_short_ttl_path %>">Browser Cache Short TTL</a></li>
        <li><a href="<%= browser_cache_etag_based_on_content_path %>">Browser Cache based on ETAG</a></li>
        <li><a href="<%= view_cache_path %>">View Cache</a></li>
    </ul>
    <br />
    <div style="border: 1px dotted; padding: 1em">
    <%= yield %>
    </div>
  </body>
</html>
